d# ipython notebooks #
#####################
*.ipynb

# pickles #
###########
*.pkl
mnb_class
nb_class
logit_class
forest_class
logit_tfidf
forest_tfidf
mnb_tfidf
w2v
logit_w2v
nb_w2v

# data #
########
*.sqlite
*.csv

# directories #
###############
food_files/*
old/*
