# ipython notebooks #
#####################
*.ipynb

# pickles #
###########
*.pkl
mnb_class
nb_class
logit_class
forest_class
logit_tfidf
forest_tfidf

# data #
########
*.sqlite
*.csv

# directories #
###############
food_files/*
old/*
