<!doctype html>
<html lang="en">
	<head>
		<meta char="utf-8">
		<title>Error</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class=page>
			<h1>RIP, Error!</h1>
			<div class=metanav>
				<h3>There's a problem. <a href='/index'>Go Back</a></h3>
				<h4>{{ticker}} doesn't seem to be in Quandle's dataset.</h4>
			</div>
		</div>
	</body>
</html>
